/**
 Folha de esilo do site SecurityPet.com
 @author Pedro h santos
 */

/* importar fonts */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Protest+Strike&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Protest+Riot&family=Protest+Strike&display=swap');

:root {
    --lightgraw: #90f7b7;
    --pretolayout: #000000;
    --backgroundcard: #ffffff;
    --bordalayout: #000000; 
    --corleyute: #f80000;
    --cortexto: #434343;
   }

 /* CSS RESET */
* {
    margin: 0;
    padding: 0;
    border: 0;
} 
/* LAYOUT >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>*/

html {
    scroll-behavior: smooth;
}

body {
    font-family: "Protest Riot", sans-serif;
    font-size: 1em;
}

.container {
    margin: 0 auto;
    padding: 50px 15px 50px 15px;
}

.flex, .flexmenu{
    display: flex;
    justify-content: space-between;
}

.flex {
    flex-direction: column;
  }
/* cartão */
.card {
    margin-top: 50px;
    width: 338px;
    height: 520px;
    background-color: var(--backgroundcard);
    border: 1px solid var(--pretolayout);
    border-radius: 25px;
    text-align: center;
}

.card img {
    border-radius: 25px 25px 0px 0px;
}

.card h3 {
    margin: 15px 30px 0px 30px;
}

.card p {
    padding: 10px 30px 50px 30px;
    text-align: left;
    color: var(--cortexto);
}

.button {
    text-decoration: none;
    background-color: var(--corleyute);
    color: #f1f3f4;
    padding: 10px 80px;
    border-radius: 25px;
    font-size: 1.2em;
    font-weight: 700;
}

/* topo */
#topo {
    position: fixed;
    right: 10px;
    bottom: 10px;
}

/* Smartphone portrait          >>>>>>>>>>>>> */
/************* Cabeçalho **********************/
header{
    height: 80px;
}

#logo img {
    width: 265px;
    height: 60.88px;
    margin: 10px 0px 0px 10px;
}

#check {
    display: none;
}

label {
    font-size: 3em;
    font-weight: 600;
    top: 10px;
    position: fixed;
    right: 10px;
}

nav ul {
    list-style: none;
    background-color: rgba(67, 67, 67, 0.9);
    height: 100vh;
    position: fixed;
    top: 80px;
    right: -70%;
    width: 70%;
    transition: all 0.5s;
}

/* Ativar o chackbox */
#check:checked~ul {
    right: 0;
}

nav ul li {
    border-bottom: 0.5px solid var(--backgroundcard);
    text-align: right;
    padding: 15px;
}

nav ul li a {
    text-decoration: none;
    color: var(--backgroundcard);
}

/* FOOTER */
footer {
    background-color: var(--lightgraw);
    color: var(--pretolayout);
    text-align: center;
  }

#social {
    margin-bottom: 25px;
}  

/* Smartphone landscape         >>>>>>>>>>>>> */
@media (min-width: 576px) {
    /*Cabeçalho*/
    .container {
        max-width: 540px;
    }

    header{
        max-width: 540px;
        margin: 0 auto;
    }

    .flex{
        flex-direction: row-reverse;
        justify-content: space-between;
        align-items: center;
      }
    #social {
        margin: 0px;
    }
}

/* Tablet portrait              >>>>>>>>>>>>> */
@media (min-width: 768px) {
    .container {
        max-width: 720px;
    }

    /*Cabeçalho*/
    header{
        max-width: 720px;
        margin: 0 auto;
        height: 100px;
    }

    #logo img {
        width: 353.34px;
        height: 81.2px;
        margin: 10px 0px 0px 0px;
    }

    nav ul {
        top: 100px;
        right: -50%;
        width: 50%;
    }

    label {
        font-size: 4em;
        top: 25px;
        height: 5px;
        color: rgba(67, 67, 67, 0.9);
    } 

}

/* Tablet landscape             >>>>>>>>>>>>> */
@media (min-width: 992px) {
    .container {
        max-width: 960px;
    }

    header{
        max-width: 720px;
        margin: 0 auto;
        height: 100px;
    }

    #logo img {
        width: 150px;
        height: 150px;
        margin: 10px 0px 0px 10px;
    }

}

/* PCs ou notebooks HD          >>>>>>>>>>>>> */
@media (min-width: 1200px) {
    .container {
        max-width: 1140px;
    }

    /*Cabeçalho*/
    header{
        max-width: 1140px;
        margin: 0 auto;
    }

    #logo img {
        width: 424px;
        height: 97.4px;
    }

    label {
    display: none;
   }

   nav ul {
       width: 100%;
       position: static;
       height: auto;
       background-color: var(--backgroundcard);
       margin-top: 50px;
   }

   nav ul li {
       border: 0;
       float: right;
   }
   
   nav ul li a {
       color: var(--bordalayout);
   }

   nav ul li a:hover {
    color: var(--lightgraw);
   }

}

/* PCs ou notebooks Full HD +   >>>>>>>>>>>>> */
@media (min-width: 1400px) {
    .container {
        max-width: 1360px;
    }

    header{
        max-width: 1360px;
        margin: 0 auto;
        height: 100px;
    }

    #logo img {
        width: 530px;
        height: 121.75px;
    }

}
